*.jar
*.class

/.classpath
/.project
/.settings
/target

/bin/am2j.plc
/bin/am2j.plj
/bin/pl2am.plc
/bin/pl2am.plj
/doc/javadoc
/src/builtin/builtins.am
/src/builtin/builtins/
/src/builtin/system.am
/src/builtin/system/
/src/compiler/am2j.am
/src/compiler/am2j.plc
/src/compiler/am2j.plj
/src/compiler/am2j.qsav
/src/compiler/am2j/
/src/compiler/pl2am.am
/src/compiler/pl2am.plc
/src/compiler/pl2am.plj
/src/compiler/pl2am.qsav
/src/compiler/pl2am/
/src/compiler/system.pl
/src/compiler/system.qlf
